<head>
	<meta charset="utf-8">
	<title>WebChat 0.1.0</title>
	<script type="text/javascript" src="/dpd.js"></script>
	<script type="text/javascript" src="/lib/sweet-alert.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/lib/sweet-alert.css">
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<link rel="stylesheet" type="text/css" href="/styles/bootstrap.min-2.1.1.css">
</head>