<div class="container">
	<h1>Login</h1>
	<form onsubmit="return postForm()">
		<label for="username">Username:</label>
		<input type="text" id="username" />
		<label for="password">Password:</label>
		<input type="password" id="password" /><br />
		<button type="submit" class="btn btn-primary">Login</button>
		<a href="/register" class="btn btn-link">sign up</a>
	</form>
</div>
<script type="text/javascript">
	function postForm() {
		var username = document.getElementById('username').value;
		var password = document.getElementById('password').value;
		dpd.users.login( {username: username, password: password}, function(session, error) {
			if (error) {
				sweetAlert("Oops...", error.message, "error");
			} else {
				location.href = "/index";
			}
		});
		return false;
	}
</script>